In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
account = pd.read_csv(r'C:\Users\JB479JV\Downloads\Data\Account.csv')
account

      AccountId RegistrationDate  CustomerId  PaymentPlanId
0          5000       2020-03-30        4720             63
1          5002       2020-06-06        2674             63
2          5003       2020-02-28        2495             69
3          5007       2020-02-20        1749             37
4          5010       2020-09-03        2905             20
...         ...              ...         ...            ...
1995       8991       2020-04-06        3149             46
1996       8993       2020-10-14        4106             44
1997       8994       2020-04-23        2127             51
1998       8996       2020-06-26        3162             49
1999       8999       2020-12-18        4561             59

[2000 rows x 4 columns]

In [15]:
account.AccountId.value_counts()

5000    1
7637    1
7658    1
7656    1
7654    1
       ..
6293    1
6292    1
6291    1
6289    1
8999    1
Name: AccountId, Length: 2000, dtype: int64

In [16]:
account.CustomerId.value_counts()

4720    1
2142    1
1586    1
4521    1
4060    1
       ..
1991    1
3533    1
2018    1
1284    1
4561    1
Name: CustomerId, Length: 2000, dtype: int64

In [17]:
account.PaymentPlanId.value_counts()

69    82
37    81
52    80
49    78
44    77
22    76
63    75
36    74
46    74
38    73
53    72
10    69
66    66
19    66
13    65
20    65
56    64
23    64
57    64
39    63
28    62
16    61
59    61
51    59
62    59
12    59
11    58
17    54
31    51
15    48
Name: PaymentPlanId, dtype: int64

In [20]:
account.RegistrationDate.value_counts()

2020-08-14    16
2020-12-30    15
2020-11-23    14
2020-09-16    13
2020-01-28    13
              ..
2020-06-17     1
2020-11-06     1
2020-08-05     1
2020-01-27     1
2020-03-16     1
Name: RegistrationDate, Length: 365, dtype: int64