# Assignment

In [1]:
pythonlist = ['Ama', 54, 'Kojo', 45.5, 'Yhup', 52, 'Kwame', 96, 'Kwesi', 87, 'Roland', True, 'Nti',
             45, 78.5, 'William', 68, 45.3, 78, 'Patty', False, 98, True, 'Adwoa',21, 65, 'Pappy',
             14, 'Folly', False, 52, 'Pency']

1. create four empty lists:
a. Floats
b. Ints
c. Strings
d. Booleans


2. For each item in the "pythonlist", place it in the right set created above.

3. For the strings and booleans sets, sort the items

4. For the int set, print out the 3rd and 5th highest number

5. For the float set, print out the 2nd largest number

In [2]:
Floats = []
Ints = []
Strings = []
Booleans = []

In [3]:
for item in pythonlist:
    if isinstance(item, float):
        Floats.append(item)
        
    elif isinstance(item, int):
        Ints.append(item)
        
    elif isinstance(item, str):
        Strings.append(item)
        
    else:
        Booleans.append(item)

In [4]:
Floats

[45.5, 78.5, 45.3]

In [5]:
Ints

[54, 52, 96, 87, True, 45, 68, 78, False, 98, True, 21, 65, 14, False, 52]

In [6]:
Strings

['Ama',
 'Kojo',
 'Yhup',
 'Kwame',
 'Kwesi',
 'Roland',
 'Nti',
 'William',
 'Patty',
 'Adwoa',
 'Pappy',
 'Folly',
 'Pency']

In [ ]:
# ANswer 1

In [7]:
Strings.sort()

In [8]:
Strings

['Adwoa',
 'Ama',
 'Folly',
 'Kojo',
 'Kwame',
 'Kwesi',
 'Nti',
 'Pappy',
 'Patty',
 'Pency',
 'Roland',
 'William',
 'Yhup']

In [ ]:
# Answer 2

In [25]:
Ints.sort(reverse = True)

In [15]:
Ints

[98, 96, 87, 78, 68, 65, 54, 52, 52, 45, 21, 14, True, True, False, False]

In [16]:
print('The 3rd highest number is', Ints[2])

The 3rd highest number is 87

In [17]:
print('The 5th highest number is', Ints[4])

The 5th highest number is 68

In [36]:
# # a = [1,2,3,4,5,6]
# a

In [37]:
# a[-2]

In [38]:
# a.sort(reverse = True)

In [39]:
# a

In [40]:
# a[1]

In [26]:
Ints.sort()

In [27]:
Ints

[False, False, True, True, 14, 21, 45, 52, 52, 54, 65, 68, 78, 87, 96, 98]

In [28]:
print('The 3rd highest number is', Ints[-3])

The 3rd highest number is 87

In [18]:
# Answer 3

In [20]:
Floats

[45.5, 78.5, 45.3]

In [21]:
Floats.sort()

In [23]:
Floats

[45.3, 45.5, 78.5]

In [24]:
print('The 2nd highest number is', Floats[-2])

The 2nd highest number is 45.5