# Fundamentals of Python Programming

## Variable assignation

In [9]:
pi = 3.142567849

In [12]:
2 * pi

6.285135698

In [13]:
3 * pi

9.427703547

In [14]:
43 * pi

135.130417507

In [16]:
my_name = 'Franklin'

In [17]:
print('Sleep ' + my_name)
print('Wake Up ' + my_name)
print('Eat ' + my_name)

Sleep Franklin
Wake Up Franklin
Eat Franklin

In [18]:
23name = 'Maggie'

SyntaxError: invalid syntax (Temp/ipykernel_19424/676024002.py, line 1)

In [2]:
# cannot use hyphen in variable assignation
'''cannot use hyphen in variable assignation'''
man-23 = 'Maggie'

SyntaxError: cannot assign to operator (Temp/ipykernel_22328/896893662.py, line 3)

In [21]:
man-kofi = 'Maagi'

SyntaxError: cannot assign to operator (Temp/ipykernel_19424/1539159314.py, line 1)

## Data Types

Integers,
Floats,
Strings,
Lists,
Range,
Dictionaries,
Booleans

### Numbers(Integers and Floats)

In [34]:
num = 13001

In [35]:
type(num)

int

In [36]:
num = 130.01

In [37]:
type(num)

float

In [38]:
6 + 7

13

In [39]:
6 * 7

42

In [40]:
6-7

-1

In [41]:
6 - 7

-1

In [42]:
7/2

3.5

In [43]:
7//2

3

In [44]:
7%2

1

In [45]:
2/3

0.6666666666666666

In [46]:
2//3

0

In [47]:
2%3

2

### Strings

In [50]:
name1 = 'Zoe'
name2 = "Zoe"

In [51]:
type(name1)

str

In [52]:
type(name2)

str

In [53]:
name3 = 'Zoe"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_19424/3993667118.py, line 1)

In [54]:
pi = '3.142'

In [55]:
type(pi)

str

In [59]:
first_name = 'Franklin'
last_name = 'Adjei'
print(first_name + ' ' + last_name)

Franklin Adjei

In [60]:
print(first_name.upper())

FRANKLIN

In [62]:
print(first_name.count('a'))

1

In [63]:
print(first_name.count('n'))

2

### Booleans

In [64]:
TRUE

NameError: name 'TRUE' is not defined

In [65]:
True

True

In [66]:
False

False

In [67]:
2 == 2

True

In [68]:
3 == -3

False

In [69]:
num = 4
if num > 4:
    print('Hello World')
else:
    print('Sleep')

Sleep

### Range

In [70]:
# 2,4,6,8,10,12,14,16,20,22,24

In [71]:
list(range(2,24,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [72]:
list(range(2,25,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [73]:
list(range(1,1000,3))

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100,
 103,
 106,
 109,
 112,
 115,
 118,
 121,
 124,
 127,
 130,
 133,
 136,
 139,
 142,
 145,
 148,
 151,
 154,
 157,
 160,
 163,
 166,
 169,
 172,
 175,
 178,
 181,
 184,
 187,
 190,
 193,
 196,
 199,
 202,
 205,
 208,
 211,
 214,
 217,
 220,
 223,
 226,
 229,
 232,
 235,
 238,
 241,
 244,
 247,
 250,
 253,
 256,
 259,
 262,
 265,
 268,
 271,
 274,
 277,
 280,
 283,
 286,
 289,
 292,
 295,
 298,
 301,
 304,
 307,
 310,
 313,
 316,
 319,
 322,
 325,
 328,
 331,
 334,
 337,
 340,
 343,
 346,
 349,
 352,
 355,
 358,
 361,
 364,
 367,
 370,
 373,
 376,
 379,
 382,
 385,
 388,
 391,
 394,
 397,
 400,
 403,
 406,
 409,
 412,
 415,
 418,
 421,
 424,
 427,
 430,
 433,
 436,
 439,
 442,
 445,
 448,
 451,
 454,
 457,
 460,
 463,
 466,
 469,
 472,
 475,
 478,
 481,
 484,
 487,
 490,
 493,
 496,
 499,
 502,
 505,
 508,
 511,
 514,
 517,
 520,
 523,
 526,
 529,
 532,
 535,
 538,
 541,
 544,
 547,
 550,
 553,
 556,
 559,
 562,
 565,
 568,
 571,
 574,
 577,
 580,
 583,
 586,
 589,
 592,
 595,
 598,
 601,
 604,
 607,
 610,
 613,
 616,
 619,
 622,
 625,
 628,
 631,
 634,
 637,
 640,
 643,
 646,
 649,
 652,
 655,
 658,
 661,
 664,
 667,
 670,
 673,
 676,
 679,
 682,
 685,
 688,
 691,
 694,
 697,
 700,
 703,
 706,
 709,
 712,
 715,
 718,
 721,
 724,
 727,
 730,
 733,
 736,
 739,
 742,
 745,
 748,
 751,
 754,
 757,
 760,
 763,
 766,
 769,
 772,
 775,
 778,
 781,
 784,
 787,
 790,
 793,
 796,
 799,
 802,
 805,
 808,
 811,
 814,
 817,
 820,
 823,
 826,
 829,
 832,
 835,
 838,
 841,
 844,
 847,
 850,
 853,
 856,
 859,
 862,
 865,
 868,
 871,
 874,
 877,
 880,
 883,
 886,
 889,
 892,
 895,
 898,
 901,
 904,
 907,
 910,
 913,
 916,
 919,
 922,
 925,
 928,
 931,
 934,
 937,
 940,
 943,
 946,
 949,
 952,
 955,
 958,
 961,
 964,
 967,
 970,
 973,
 976,
 979,
 982,
 985,
 988,
 991,
 994,
 997]

### Escape character

In [77]:
print('Franklin\'s cat is sick')

Franklin's cat is sick

### Casting

In [ ]:
int()
str()
float()

In [9]:
age = 26
first_name = 'Franklin'
print(first_name + ' is ' + str(float(age)) + ' years old' )

Franklin is 26.0 years old

In [8]:
type(age)

int

### Operations

#### Arithmetric Operators

In [14]:
# +, -, *, /, //, %  ( all these have been mentioned)
2**3

8

In [16]:
2**3+4.5*(2-3)

3.5

#### Comparison Operators

In [17]:
2 > 3

False

In [20]:
'Franklin' > 'Francis'

True

In [18]:
4 < 5

True

In [21]:
'Zoe' < 'Franklin'

False

In [19]:
2 == 2

True

In [22]:
'Franklin' == 'FRANKLIN'

False

In [23]:
'FRANKLIN' == 'FRANKLIN'

True

In [24]:
9 >= 2

True

In [25]:
7 <= 4

False

In [26]:
7 != 6

True

#### Logical Operators

In [27]:
(2>3) and (3>4)
# False and False

False

In [28]:
(7>5) or (3>5)
# True or False

True

In [29]:
not((7>5) or (3>5))

False

#### Identity Operators

In [30]:
age = 23

In [31]:
age is 23

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\JB479JV\AppData\Local\Temp/ipykernel_22328/3639104037.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  age is 23

True

In [32]:
age is not 23

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\JB479JV\AppData\Local\Temp/ipykernel_22328/3942896955.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  age is not 23

False

#### Membership Operators

In [33]:
nums = [2,4,7,9]

In [34]:
9 in nums

True

In [35]:
7 not in nums

False

### Lists

In [3]:
newlist1 = []

In [4]:
type(newlist1)

list

In [5]:
newlist2 = list()

In [6]:
type(newlist2)

list

In [7]:
nums = list(range(1,18,1))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [8]:
newlist1

[]

In [9]:
for num in nums:
    if num%2 == 0:
        newlist1.append(num)

In [10]:
newlist1

[2, 4, 6, 8, 10, 12, 14, 16]

In [11]:
newlist3 = ['man', 23, 13.5, True]

In [12]:
newlist3

['man', 23, 13.5, True]

In [13]:
newlist4 = []

In [15]:
for item in newlist3:
    newlist4.append(item)

In [16]:
newlist4

['man', 23, 13.5, True]

In [17]:
len(newlist4)

4

In [19]:
newlist4.pop()

True

In [21]:
newlist4.pop(1)

23

In [22]:
newlist4

['man', 13.5]

In [23]:
newlist4.append(5)

In [24]:
newlist4.append(5)

In [25]:
newlist4

['man', 13.5, 5, 5]

In [27]:
newlist4.count(14)

0

In [28]:
newlist4.insert(1, 'Franklin')

In [29]:
newlist4

['man', 'Franklin', 13.5, 5, 5]

### Dictionaries

In [30]:
dict1 = {}

In [31]:
type(dict1)

dict

In [32]:
dict2 = dict()

In [34]:
type(dict2)

dict

In [37]:
dict3 = {'name': 'Franklin', 'color': 'black', 'salary': 44000}

In [39]:
dict3.keys()

dict_keys(['name', 'color', 'salary'])

In [40]:
dict3.values()

dict_values(['Franklin', 'black', 44000])

In [41]:
dict3['spouse'] = 'Mary'

In [42]:
dict3

{'name': 'Franklin', 'color': 'black', 'salary': 44000, 'spouse': 'Mary'}

In [43]:
dict3.pop('color')

'black'

In [45]:
dict3.update({'spouse': 'Franklina'})

In [46]:
dict3

{'name': 'Franklin', 'salary': 44000, 'spouse': 'Franklina'}

### Slicing

In [56]:
list(range(1,50,3))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [60]:
newlist5 = newlist3 + list(range(1,50,3))

In [48]:
dict3

{'name': 'Franklin', 'salary': 44000, 'spouse': 'Franklina'}

In [63]:
newlist5

['man',
 23,
 13.5,
 True,
 1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49]

In [62]:
newlist5[6:15]

[7, 10, 13, 16, 19, 22, 25, 28, 31]

In [64]:
newlist5[-3]

43

In [65]:
newlist5[-5:-1]

[37, 40, 43, 46]

### If...Else Block

In [69]:
list(range(3,57,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54]

In [74]:
for num in list(range(3,57,3)):
    if num%2 == 0:
        print(str(num) + ' : is an even number')
    elif (num%3 == 0) and (num%7 == 0):
        print(str(num) + ' : is divisible by seven and three')
    else:
        print(str(num) + ' : Satisfies None')

3 : Satisfies None
6 : is an even number
9 : Satisfies None
12 : is an even number
15 : Satisfies None
18 : is an even number
21 : is divisible by seven and three
24 : is an even number
27 : Satisfies None
30 : is an even number
33 : Satisfies None
36 : is an even number
39 : Satisfies None
42 : is an even number
45 : Satisfies None
48 : is an even number
51 : Satisfies None
54 : is an even number

### For Loop

In [11]:
abena_nums = list(range(2,20000,4))

In [12]:
len(abena_nums)

5000

In [1]:
nums = list(range(2, 53, 2))

In [3]:
newlist = []
for num in nums:
    newnum = num + 1
    newlist.append(newnum)

In [14]:
newlist[:5]

[3, 5, 7, 9, 11]

### While Loop

In [21]:
newlist2 = []
newlist3 = []
num = 2
while num < 8:
    print(num)
    newlist3.append(num)
    num = num + 1
    newlist2.append(num)

2
3
4
5
6
7

In [24]:
newlist2

[3, 4, 5, 6, 7, 8]

In [23]:
newlist3

[2, 3, 4, 5, 6, 7]

### Functions

In [25]:
names = ['Akwasi', 'Mercy', 'Hepzibah']
print('Hello ' + 'Akwasi')
print('Hello ' + 'Mercy')
print('Hello ' + 'Hepzibah')

Hello Akwasi
Hello Mercy
Hello Hepzibah

In [26]:
def printname(name):
    print('Hello ' + name)

In [27]:
printname('Sherifa')

Hello Sherifa

In [28]:
printname('Adjei-Twum')

Hello Adjei-Twum

In [33]:
def calculate_hypotenuse(adjacent, opposite):
    import math
    hypotenuse = math.sqrt(adjacent**2 + opposite**2) 
    print(int(hypotenuse))

In [34]:
calculate_hypotenuse(3,4)

5

In [39]:
calculate_hypotenuse(12,13)

17

In [40]:
calculate_hypotenuse(32,14)

34

In [38]:
import math
# help(math)

In [44]:
def printname2(name = 'Franklin'):
    print('Hello ' + name)

In [46]:
printname2('Tilly')

Hello Tilly

### Lambda

In [47]:
printname3 = lambda name : 'Hello ' + name

In [49]:
printname3('Naa Solomon')

'Hello Naa Solomon'

In [50]:
cal_hyp = lambda adj, opp : math.sqrt(adj**2 + opp**2)

In [51]:
cal_hyp(2,4)

4.47213595499958

### User Input

In [52]:
name = input()
print('Welcome ' + name)

Adjei-Twum
Welcome Adjei-Twum

In [53]:
name = input('Enter your name: ')
print('Welcome ' + name)

Enter your name: Franklin
Welcome Franklin

### String Formatting

In [54]:
list_of_students = ['Akwasi', 'Abena', 'Tilly', 'Sherifa', 'Adjei', 'Naa', 'Fauzia', 'Irene', 'Zoe', 'Nashirat']
num = len(list_of_students)
print('There are {} students on the call'.format(num))

There are 10 students on the call

In [57]:
num_of_guys = input('Enter number of guys: ')
num_of_ladies = input('Enter number of ladies: ')
print('There is(are) {} guy(s) and {} lady/ladies'.format(num_of_guys, num_of_ladies))

Enter number of guys: 1
Enter number of ladies: 9
There is(are) 1 guy(s) and 9 lady/ladies

### Object Oriented Programming

In [76]:
class HumanBeing:
    def __init__(self, eye_color, nose_shape):
        self.eye_color = eye_color
        self.nose_shape = nose_shape
    
    def talk(self, language):
        print('I can speak ' + language)
    
    def sing(self, title):
        print('I can sing ' + title)
    
    def dance(self, dance_type):
        print('I can dance ' + dance_type)
        
# Inheritance        
class Employee(HumanBeing):
    def __init__(self, eye_color, nose_shape, idnumber):
        self.idnumber = idnumber
        HumanBeing.__init__(self, eye_color, nose_shape)
        
    def salary(self, amount):
        print('My salary is ' + amount)

In [61]:
Nashirat = HumanBeing('blue', 'pointed')

In [63]:
Nashirat.dance('Kupe')

I can speak Kupe

In [32]:
Nashirat.dance('Shakushaku')

I can dance Shakushaku

In [37]:
Akwasi = HumanBeing('brown', 'pointed')

In [34]:
Akwasi.dance('Azonto')

I can dance Azonto

In [35]:
Akwasi.talk('English')

I can speak English

In [38]:
Akwasi.sing('Reggae')

I can sing Reggae

In [40]:
Akwasi.salary('$45,000')

AttributeError: 'HumanBeing' object has no attribute 'salary'

In [77]:
Zoe = Employee('light blue', 'pointed', '0010')

In [72]:
Zoe.dance('Salsa')

I can dance Salsa

In [ ]:
Zoe.salary('$56000')